button {
    background-color: #008f53; /* Green */
    border: 0;
    color: white;
    padding: 4px 4px;
    text-align: center;
    font-size: 6px;
    margin: 2px 2px;
    width: 50px;
  }

  .counter {
      color: #008f53;
      font-size: 48px;
      text-align: center;
  }

  .footer {
      text-align: center;
      font-size: 12px;
  }

  .button_panel {
    float: left
  }

  .score_panel {
    float: right
  }

table, th, td {
  border:1px solid black;
}