button {
    background-color: #008f53; /* Green */
    border: 0;
    color: white;
    padding: 14px 14px;
    text-align: center;
    font-size: 24px;
    margin: 2px 2px;
    width: 150px;
  }

  .counter {
      color: #008f53;
      font-size: 60px;
      text-align: center;
  }

  .footer {
      text-align: center;
      font-size: 12px;
  }

  .button_panel {
    float: left;
    //display: table-cell;
  }

  .score_panel {
    float: left;
    //display: table-cell;
  }

table, th, td {
  font-size: 24px;
  border:1px solid black;
  padding: 10px;
}

td {
  text-align: center;
  width:0.1%;
  white-space: nowrap;
}

@media only screen and (orientation: landscape) {
  table {
    font-size: 12px;
  }
}